@font-face {
    font-family: "mortalKombatFont";
    src: url("../fonts/mortalkombat1.ttf") format("woff"), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url("../fonts/mortalkombat1.ttf") format('truetype');  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    background-image: url("../images/mortal-kombat.gif");
    background-size: 100%;
    background-position: 0 0;
    font-family: mortalKombatFont;
}
h1 {
    font-size: 100px;
}
h1, h2, p3 {
    color: white;
}

p1, p2 {
    color: white;
    font-size: 200%;
    font-weight: bold;
}

p2 {
    color: red;
}

#inputBox {
    margin: 20px 20px 20px 0px;
}

p3 {
    font-size: 150%;
}